@media (max-width: 992px) {
    /*Планшеты (sm,md)*/
    .header__logo,
    .header__info{
        text-align: center;
    }
    .header__info{
        padding-top: 20px;
    }
    .main__top-list h1,
    .main__top-list h2{
        text-align: center;
    }
    .main__top-list ul{
        padding: 0 0 0 200px;
        line-height: 1;
    }
    .main__top-list ul li{
        line-height: 0.2;
        padding-bottom: 20px;
    }
    .footer > div{
        text-align: center !important;
        padding: 5px 0;
    }
    .main__thanks ul li{
        margin-bottom: 40px !important;
    }
}

@media (max-width: 767px) {
    /*Телефоны (xs)*/
    .main__top-list ul{
        padding: 0 0 0 50px;
        line-height: 1;
    }
    .main__top-list ul li{
        line-height: 0.2;
        padding-bottom: 20px;
    }
    main__form {
         padding: 0;
    }
    .main__form-form label{
        text-align: left;
    }
    .main__form-input{
        margin-left: 0px;
    }
    .main__form-city__city{
        padding-left: 0px;
    }
    .main__form-consent {
        padding-left: 20px;
    }
    .main__form-lenta p {
        top: 12px;
        left: 26px;
        width: 120px;
    }
    .main__thanks{
        margin: 20px 0;
    }
    .main__thanks h1{
        font-size: 25px;
    }
    .main__thanks p{
        padding: 10px;
        text-align: center;
    }
    .main__thanks ul {
        padding-left: 0px;
        padding-right: 0px;
    }
    .main__thanks ul li::before {
        width: 40px;
        height: 40px;
    }
    .main__thanks ul li{
        padding-top: 0px !important;
    }
    .main__thanks ul li p {
        padding-left: 60px;
        text-align: left;
        padding-top: 0px !important;
        position: initial;
    }
    .main__thanks_link {
         margin-top: 0px;
    }
}


@media (max-width: 1170px) {
    .main__process-step_chevron{
        text-align: center;
    }
    .main__process-step_chevron img{
        transform: rotate(90deg);
    }
}

