.no-padding{
    padding-right: 0;
    padding-left: 0;
}
header{
    padding: 20px 0;
}
.header__info{
    text-align: right;
    color: #00675d;
    text-transform: uppercase;
}
.header__info-info{
    font-size: 11px;
    line-height: 1;
    margin: 0;
}
.header__info-phone{
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    margin: 5px 0;
}
.main{
    background: linear-gradient(to top left, #f7f9ee, #eafcf2);
    min-height: calc(100vh - 270px);
}
.main__top{
    background: url(/assets/test/bg.png) no-repeat;
}
.main__top-list{
    padding: 50px 0 100px;
}
.main__top-list h1,
.main__thanks h1{
    font-size: 25pt;
    padding: 10px 0;
    color: #00675d;
}
.main__thanks h1{
    text-align: center;
    font-size: 20pt;
}
.main__thanks p{
    padding-left: 140px;
    padding-top: 20px;
    font-size: 12pt;
}
.main__thanks ul{
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
}
.main__thanks ul li{
    font-size: 12pt;
    position: relative;
}
.main__thanks ul li p{
    position: absolute;
    padding-left: 100px;
}
.main__thanks ul li:nth-child(1){
    padding-top: 20px;
}
.main__thanks ul li:nth-child(2),
.main__thanks ul li:nth-child(3){
    padding-top: 100px;
}
.main__thanks ul li:nth-child(1) p{
    padding-top: 3px;
}
.main__thanks ul li:nth-child(2) p{
    padding-top: 15px;
}
.main__thanks ul li:nth-child(3) p{
    padding-top: 25px;
}
.main__thanks ul li::before{
    content: '';
    width: 75px;
    height: 75px;
    /*background: linear-gradient(to top, #ffc25f, #fff987);*/
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    position: absolute;
}
.main__thanks ul li:nth-child(1)::before{
    content: '';
    background-image: url(/assets/test/thanks-item1.png);
    background-size: contain;
}
.main__thanks ul li:nth-child(2)::before{
    content: '';
    background-image: url(/assets/test/thanks-item2.png);
    background-size: contain;
}
.main__thanks ul li:nth-child(3)::before{
    content: '';
    background-image: url(/assets/test/thanks-item3.png);
    background-size: contain;
}
.main__top-list h2{
    font-size: 13pt;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: bold;
}
.main__top-list ul{
    list-style: none;
}
.main__top-list ul li{
    font-size: 13pt;
}
.main__top-list ul li::before{
    content: url(/assets/test/marker.png);
    width: 40px;
    height: 40px;
    background: linear-gradient(to top, #ffc25f, #fff987);
    display: inline-block;
    border-radius: 50%;
    margin: 5px 20px 5px -40px;
    vertical-align: middle;
}
.main__form{
    margin-top: -40px;
    padding: 0 40px;
}
.main__form-lenta{
    position: absolute;
    right: -10px;
    top: -10px;
}
.main__form-lenta p{
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: white;
}
.main__form-lenta p span{
    font-size: 20pt;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
}
.main__form-form{
    background: white;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.22);
}
.main__form-form label{
    text-align: right;
    font-weight: normal;
    line-height: 30px;
    padding-right: 0px;
    font-size: 10pt;
}
.main__form-form:nth-child(1){
    padding-top: 40px;
}
.main__form-city__label{
    line-height: inherit !important;
}
.main__form-city__city{
    text-decoration: underline dashed;
    color: #4289b2;
    padding-left: 10px;
    cursor: pointer;
    font-size: 10pt;
}
.main__form-input{
    font-size: 16px;
    padding: 3px 25px 3px 10px;
    border-radius: 2px;
    box-shadow: none;
    border: solid 1px #e4e4e4;
    margin-left: 10px;
    margin-right: 5px;
}
.main__form-consent{
    padding-left: 10px;
}
.main__form-consent p{
    padding-left: 0px;
    cursor: pointer;
    font-size: 10pt;
}
.main__form-consent .main__form-consent-checkbox{
    background-image: url(/assets/test/checkbox.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 18px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 10px;
    background-position: -17px;
}
.main__form-consent .main__form-consent-checkbox_checked{
    background-position: 0px;
}
.main__form-consent-link{
    color: #4289b2;
    cursor: pointer;
}
.main__form-submit,
.main__thanks_link{
    margin: 20px 0 30px;
    background: linear-gradient(to top, #ffc25f, #fff987);
    height: 50px;
    text-transform: uppercase;
    border-radius: 50px;
    border-top: solid 0px;
    border-left: solid 0px;
    border-right: solid 0px;
    border-bottom: solid 1px #9e9e9e;
    color: black;
}
.main__thanks_link{
    text-align: center;
    margin-top: 100px;
    padding: 15px;
}
.main__thanks_link:hover,
.main__thanks_link:focus{
    color: black;
    text-decoration: none;
}
.main__process{
    padding: 40px 20px 60px;
}
.main__process-title{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}
.main__process-step_1-numb,
.main__process-step_2-numb{
    display: inline-block;
    float: left;
    width: 70px;
    height: 70px;
    background: linear-gradient(to top, #ffc25f, #fff987);
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 40pt;
    font-weight: 100;
    vertical-align: sub;
}
.main__process-step_1-text,
.main__process-step_2-text{
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 13px;
}
.main__process-block{
    padding-right: 0px;
}
.main__process-step_chevron{
    height: 70px;
}
.main__process-step_chevron img{
    padding: 15px 0;
}
footer {
    padding: 50px 0 40px;
    background-image: url(/assets/test/bg-footer.png);
    box-shadow: 2px 6px 21px  rgba(0, 0, 0, 0.22) inset;
}
.footer > div:nth-child(1){
    text-align: right;
}
.footer > div:nth-child(2){
    text-align: left;
}
.footer > div:nth-child(3){
    text-align: left;
}
.footer p,
.footer a{
    line-height: 1;
    font-size: 10pt;
    margin-bottom: 5px;
}
.footer__phone{
    font-size: 13pt !important;
}
.main__thanks{
    background: white;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.22);
    margin: 60px 0;
}